---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const books = await getCollection("books");
  return books.map((book) => ({
    params: { id: book.slug },
    props: { book },
  }));
}

const { book } = Astro.props;
const { data } = book;
const { title, author, img, readtime, description, buy } = data;

const Content = await book.render();
---

<Layout title={`${title} - Libros`}>
  <div class="flex gap-12">
    <aside class="flex flex-col gap-4 items-center">
      <img class="rounded w-72 h-auto" src={`${img}`} alt={title} />
      <!-- Enlaces de compra -->
    </aside>

    <main class="max-w-3xl">
      <h1 class="text-4xl font-bold mb-4">{title}</h1>
      <div class="prose prose-invert">
        {book.body}
      </div>
    </main>
  </div>
</Layout>
